
<ion-header>
  <ion-navbar>
    <ion-title>AYUDA</ion-title>
    <ion-buttons end>
        <button ion-button (click)="salir()" icon-only>
            <ion-icon name="ios-log-out" ></ion-icon>            
        </button>       
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-title style="text-align: center" >MESA QUE NECESITA AYUDA</ion-title>
  <img [src]="logoAyuda" style="display: block;margin: auto;max-height: 20%;">
  <ion-item *ngFor="let ay of ayuda">
      <h2>Mesa: {{ay.mesa}}</h2>        
      <ion-icon name="md-checkbox-outline" (click)="solucionar(ay)" item-end></ion-icon>        
  </ion-item>

  <ion-title style="padding-top:1cm;text-align: center">FACTURAS</ion-title>
  <img [src]="logoFactura" style="display: block;margin: auto;max-height: 20%;">
  <ion-item *ngFor="let fac of facturas">
      <h2>Mesa: {{fac.mesa}}</h2>        
      <ion-icon name="md-checkbox-outline" (click)="solucionarFac(fac)" item-end></ion-icon>        
  </ion-item>

  <ion-title style="padding-top:1cm;text-align: center">CHATS</ion-title>
  <img [src]="logoChat" style="display: block;margin: auto;max-height: 20%;">
  <ion-item *ngFor="let chat of chats" (click)="abrir(chat)">
      <h2>{{chat}}</h2>
  </ion-item>
</ion-content>
